body
  background lightgray

.Form
  margin-left 2%
  overflow hidden


.title
  margin-left 2%


.Button-Submit
  background orange
  font-size 18px
  margin-top 10px
  margin-left 90px
  display block
  padding 5px 20px
  border-radius 5px
  border-style none
